main {
	display: flex;
	gap: ;
	margin: 200px 200px;
}

section {
	flex: 1;
}

h1 {
	font-family: 'Ramaraja', serif;
	font-size: 72px;
	color: #1b0a42;
	width: 100%;
	max-width: 495px;
	letter-spacing: 2;
}

p {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	max-width: 538px;
	line-height: 1.6;
	color: #9a9a9a;
	letter-spacing: 0.02em;
}
